
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   


}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin-top: 100px;
    
  }

.abs-center1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin-top: 200px;
}



body{
    background-color: #f7f5f5d7;
    background-image: url("/img/fondo.jpg");
}


.navbar-brand{
    font-size:  25px;
    font-weight: bold;
    
}

.nav-link {
    font-size:  20px;
    font-weight: bold;
   
}

li .nav-link{
    color : black;
}



li a:hover {
    background-color: antiquewhite;
}


.calendar {
    text-align: center;
    margin-top: 30px;
    border:  2px solid black ;
    width: 400px;
    height: 50px;
    
}

.calendarowner {
    text-align: center;
    border : 2px solid black ;
    width: 200px;
    margin-top: 30px;
    height: 20px;
}


.agregar {
    margin-top: 100px;
}


